In [33]:
import numpy as np
import pandas as pd
from pathlib import Path
import re

In [34]:
def remove_chars(s):
    return re.sub('[^0-9]+', '', s)
def remove_digits(s):
    return re.sub('[^\sa-zA-Z]+', '', s)

In [35]:
pthlead=Path('../data','lead_pipes_clean.csv',encoding='utf')
dflead=pd.read_csv(pthlead)
dflead.drop('LSLs per 100k people',axis=1,inplace=True)
dflead.drop('State Population',axis=1,inplace=True)
dflead.drop('Total LSLs (high estimate)',axis=1,inplace=True)
dflead['State']=dflead['State'].apply(remove_digits)
# dflead['State']=dflead['State'].str.encode('ascii', 'ignore').str.decode('ascii')
dflead['State']=dflead['State'].str.encode('ascii', 'replace').str.decode('ascii')
dflead['State']=dflead['State'].str.replace('?',' ')
# dflead['State']=dflead['State'].replace('?',' ',regex=True)
# dflead['State']=dflead['State'].str.replace(r"~[a-zA-Z]",'')
# dflead.set_index('State',inplace=True)
dflead.head()
dflead
# dflead.info()

C:\Users\rober\AppData\Local\Temp\ipykernel_8496\2388641993.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dflead['State']=dflead['State'].str.replace('?',' ')

                   State  LSLs per 100k people
0                Alabama                   1254
1                 Alaska                    518
2                Arizona                    168
3               Arkansas                   1328
4             California                    164
5               Colorado                   1120
6            Connecticut                   1192
7               Delaware                   1616
8   District of Columbia                   4637
9                Florida                    929
10               Georgia                    803
11                Hawaii                    192
12                 Idaho                    337
13              Illinois                   5302
14               Indiana                   4274
15                  Iowa                   5015
16                Kansas                   5446
17              Kentucky                   1176
18             Louisiana                   1202
19                 Maine                   1101
20              Maryland                   1198
21         Massachusetts                   3129
22              Michigan                   4565
23             Minnesota                   4556
24           Mississippi                    979
25              Missouri                   5362
26               Montana                    922
27              Nebraska                   4945
28                Nevada                    167
29         New Hampshire                   1452
30            New Jersey                   3768
31            New Mexico                   1228
32              New York                   1782
33        North Carolina                    785
34          North Dakota                   1053
35                  Ohio                   5509
36              Oklahoma                   1212
37                Oregon                    330
38          Pennsylvania                   1231
39          Rhode Island                   1823
40        South Carolina                    860
41          South Dakota                   1128
42             Tennessee                   1071
43                 Texas                    926
44                  Utah                    703
45               Vermont                   1151
46              Virginia                   1124
47            Washington                    350
48         West Virginia                   1115
49             Wisconsin                   5597
50               Wyoming                   1092

In [36]:
pthviolence=Path('../data','violence_2016_clean.csv')
dfviolence=pd.read_csv(pthviolence)
# dfviolence.set_index('State',inplace=True)
dfviolence['State']=dfviolence['State'].str.title()
dfviolence['State']=dfviolence['State'].apply(remove_digits)
dfviolence['State']=dfviolence['State'].str.encode('ascii', 'ignore').str.decode('ascii')
# dfviolence['State']=dfviolence['State'].str.replace(r"~[a-zA-Z]",'')
# dfviolence['State'].replace('5','',regex=True,inplace=True)
# dfviolence['State'].replace('6','',regex=True,inplace=True)
dfviolence.head()
dfviolence.info()
dfviolence

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   State                               50 non-null     object
 1   violent crime per 100k inhabitants  50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

             State  violent crime per 100k inhabitants
0          Alabama                               532.3
1           Alaska                               804.2
2          Arizona                               470.1
3         Arkansas                               550.9
4       California                               445.3
5         Colorado                               342.6
6      Connecticut                               227.1
7         Delaware                               508.8
8          Florida                               430.3
9          Georgia                               397.6
10          Hawaii                               309.2
11           Idaho                               230.3
12        Illinois                               436.3
13         Indiana                               404.7
14            Iowa                               290.6
15          Kansas                               380.4
16        Kentucky                               232.3
17       Louisiana                               566.1
18           Maine                               123.8
19        Maryland                               472.0
20   Massachusetts                               376.9
21        Michigan                               459.0
22       Minnesota                               242.6
23     Mississippi                               280.5
24        Missouri                               519.4
25         Montana                               368.3
26        Nebraska                               291.0
27          Nevada                               678.1
28   New Hampshire                               197.6
29      New Jersey                               245.0
30      New Mexico                               702.5
31        New York                               376.2
32  North Carolina                               372.2
33    North Dakota                               251.1
34            Ohio                               300.3
35        Oklahoma                               449.8
36          Oregon                               264.6
37    Pennsylvania                               316.4
38    Rhode Island                               238.9
39  South Carolina                               501.8
40    South Dakota                               418.4
41       Tennessee                               632.9
42           Texas                               434.4
43            Utah                               242.8
44         Vermont                               158.3
45        Virginia                               217.6
46      Washington                               302.2
47   West Virginia                               358.1
48       Wisconsin                               305.9
49         Wyoming                               244.2

In [40]:
# dflead.info()
dfmerged=dflead.merge(dfviolence,how='outer')
dfmerged=dfmerged.dropna(how='any')
dfmerged

             State  LSLs per 100k people   violent crime per 100k inhabitants
0          Alabama                   1254                               532.3
1           Alaska                    518                               804.2
2          Arizona                    168                               470.1
3         Arkansas                   1328                               550.9
4       California                    164                               445.3
5         Colorado                   1120                               342.6
6      Connecticut                   1192                               227.1
7         Delaware                   1616                               508.8
9          Florida                    929                               430.3
10         Georgia                    803                               397.6
11          Hawaii                    192                               309.2
12           Idaho                    337                               230.3
13        Illinois                   5302                               436.3
14         Indiana                   4274                               404.7
15            Iowa                   5015                               290.6
16          Kansas                   5446                               380.4
17        Kentucky                   1176                               232.3
18       Louisiana                   1202                               566.1
19           Maine                   1101                               123.8
20        Maryland                   1198                               472.0
21   Massachusetts                   3129                               376.9
22        Michigan                   4565                               459.0
23       Minnesota                   4556                               242.6
24     Mississippi                    979                               280.5
25        Missouri                   5362                               519.4
26         Montana                    922                               368.3
27        Nebraska                   4945                               291.0
28          Nevada                    167                               678.1
29   New Hampshire                   1452                               197.6
30      New Jersey                   3768                               245.0
31      New Mexico                   1228                               702.5
32        New York                   1782                               376.2
33  North Carolina                    785                               372.2
34    North Dakota                   1053                               251.1
35            Ohio                   5509                               300.3
36        Oklahoma                   1212                               449.8
37          Oregon                    330                               264.6
38    Pennsylvania                   1231                               316.4
39    Rhode Island                   1823                               238.9
40  South Carolina                    860                               501.8
41    South Dakota                   1128                               418.4
42       Tennessee                   1071                               632.9
43           Texas                    926                               434.4
44            Utah                    703                               242.8
45         Vermont                   1151                               158.3
46        Virginia                   1124                               217.6
47      Washington                    350                               302.2
48   West Virginia                   1115                               358.1
49       Wisconsin                   5597                               305.9
50         Wyoming                   1092                               244.2

In [42]:
pthout=Path('../data','merged_data.csv')
dfmerged.to_csv(pthout,index=False)